/* সাধারণ ডিজাইন */
body {
  font-family: "Noto Sans Bengali", Arial, sans-serif;
  margin: 0;
  background: #e6e6e6;
  color: #333;
}

header {
  background: linear-gradient(90deg, #004d40);
  color: white;
  padding: 15px;
  text-align: center;
}

header h1 {
  margin: 0;
  font-size: 28px;
}

nav {
  margin-top: 10px;
}

nav a {
  color: white;
  margin: 0 10px;
  text-decoration: none;
  font-weight: bold;
}

nav a.active {
  text-decoration: underline;
}

.container {
  display: flex;
}

/* সাইডবার */
.sidebar {
  width: 220px;
  background: #e6f2f2;
  padding: 15px;
  border-right: 2px solid #009999;
}

.sidebar h2 {
  text-align: center;
  font-size: 18px;
  margin-bottom: 10px;
}

.sidebar ul {
  position: sticky;
  top:0;
  list-style: none;
  padding: 0;
}

.sidebar ul li {
  background: #009999;
  color: white;
  padding: 10px;
  margin: 6px 0;
  text-align: center;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;
}

.sidebar ul li:hover {
  background: #006666;
}
.sidebar ul li.active {
  background: #004d4d;
  font-weight: bold;
  border: 2px solid #009999;
}

/* কন্টেন্ট */
.content {
  flex: 1;
  padding: 20px;
}

#chapter-list button {
  background: #009999;
  color: white;
  border: none;
  padding: 8px 12px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
}

#chapter-list button:hover {
  background: #006666;
}

.hadith {
  background: white;
  border: 1px solid #ddd;
  margin: 12px 0;
  padding: 12px;
  border-radius: 6px;
}

.hadith strong {
  color: #006666;
}
